
.result
    overflow hidden
    .title
        width 100%
        line-height 20px
        text-align center
        padding 5px
        box-sizing border-box
        overflow hidden
        word-break break-all
        color #ffffff
        background-color #7d7d89

    .load-more
        width 60%
        margin 10px auto
        text-align center
        line-height 30px
        color #ffffff
        border-radius 5px
        background-color #1d9ee0

